.margin-left-container {
  background-color: var(--scheme-teal-dark);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.home-link {
  text-decoration: none;
  color: var(--scheme-charcoal);
  margin-top: 50px;
  background-color: blue;
}