@import "./colors.scss";

a {
  text-decoration: none;
  color: var(--scheme-charcoal);
}
a:hover {
  color: var(--scheme-dark-charcoal);
}

.whole-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.third-width {
  width: 33.333%;
}
.two-third-width {
  width: 66.666%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}